.input__wrapper {
    max-width: 148px;
    width: 100%;

    .form__top_input {
        padding: 5px;
        min-height: 38px;
        @include templateFlex(center, center);
        column-gap: 10px;
        @include templateFont(18, 700, 1);
        color: #757575;
        border-radius: 8px;
        @include templateTransition(all);

        &:hover {
            color: #f17228e5;
            background: #f172280c;
            cursor: pointer;

            .icon {
                fill: #f17228e5;
            }
        }
    }

    .form__top_input-delivery:checked,
    .form__top_input-pickup:checked {
        & + label {
            color: $secondary-color;
            background: #f172281a;

            .input__delivery_icon {
                fill: $secondary-color;
            }
        }
    }
}
