.button {
    @extend .primary__button;
    padding: 21px 48px;
    @include templateFlex(center, center);
    column-gap: 10px;
    margin: 0 auto;

    &::after {
        content: '';
        width: 9px;
        height: 14px;
        display: block;
        background: url("../../resources/icons/restaurants__button_arrow-icon.svg");
    }

    &:disabled {
        filter: grayscale(0.3);
    }
}
