@import '../../style/variables.scss';

.scrollToTopButton {
    position: fixed;
    bottom: 3%;
    right: 2%;
    width: 100px;
    height: 100px;
    // width: 120px;
    // height: 120px;
    @include templateFlex(center, center);
    border-radius: 50%;
    background-color: transparentize($primary-color, 0.2);
    @include templateTransition(background-color);
    z-index: 100;
    &:hover {
        background-color: $primary-color;
    }
    &:after {
        content: '';
        display: block;
        width: 60px;
        height: 40px;
        transform: rotate(-90deg);
        background: url(../../resources/icons/restaurants__button_arrow-icon.svg)
            center / contain no-repeat;
    }
    @media (max-width: 1000px) {
        width: 90px;
        height: 90px;
        &:after {
            width: 60px;
            height: 40px;
        }
    }
    @media (max-width: 600px) {
        width: 80px;
        height: 80px;
        bottom: 1%;
        &:after {
            width: 60px;
            height: 30px;
        }
    }
}
