@import '../../style/style.scss';

.searched-list {
    padding: 60px 0;
    position: relative;
    height: 100%;
    &__row {
        @include templateFlex(space-between, center);
        margin-bottom: 60px;
    }
    &__empty {
        margin: 20vh 0 ;
        text-align: center;
    }
    &__btn {
        margin: 60px auto 10px;
    }
}