.delivery-banner {
    background: url('../../../resources/images/banner__food-image.png') center /
        cover no-repeat;

    &__row {
        padding: 132px 0;
        @media (width <= 1000px) {
            padding: 64px 0;
        }
        @media (width <= 700px) {
            padding: 30px 0;
        }

        &_text {
            margin-bottom: 32px;

            h1 {
                @include templateFont(88, 700, 1);
                color: $light-color;
                margin-bottom: 15px;
            }

            p {
                @include templateFont(22, 400, 1.2);
            }
            @media (width <= 1000px) {
                h1,
                p {
                    text-align: center;
                }

                h1 {
                    font-size: 69px;
                }
            }
            @media (width <= 700px) {
                h1 {
                    font-size: 40px;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }
}
