@import '../../style/variables.scss';

.restaurant {
    position: relative;
    padding: 20px 0;
    &__row {
        @include templateFlex(space-between, flex-start);
        gap: 40px;
        flex-wrap: wrap;
        padding: 20px 0 40px;
        @media(max-width: 720px) {
            padding-bottom: 10px;
            margin-bottom: 20px;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            border-radius: 5px;
            background-color: transparentize($gray-color, .9);
        }
    }
    &__card {
        @include templateFlex(center, flex-start);
        column-gap: 10px;
        &_image {
            max-width: 55px;
            height: 55px;
            img {
                @include templateObject;
            }
        }
        &_description {
            h1 {
                @include templateFont(20, 500, 1.2);
                color: $dark-color;
            }
            span {
                @include templateFlex(flex-start, center);
                column-gap: 6px;
                @include templateFont(20, 400, 1.2);
                color: $primary-color;
                &:before {
                    content: '';
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: url(../../resources/icons/restaurant__card_rating.svg) center/cover no-repeat;
                }
            }
        }
        &_price {
            @include templateFont(20, 400, 1.2);
            span {
                color: $primary-color;
            }
        }
    }
    .back-btn {
        max-width: 250px;
        @include templateFlex(flex-start, center);
        column-gap: 10px;
        margin-bottom: 20px;
        color: transparentize($gray-color, .1);
        @include templateTransition(color);
        &:hover {
            color: $gray-color;
            .back-btn__back {
                background-color: transparentize($gray-color, .4);
            }
        }
        &__back {
            width: 30px;
            height: 30px;
            @include templateFlex(center, center);
            border-radius: 50%;
            background-color: transparentize($gray-color, .7);
            @include templateTransition(background-color);
            &:before {
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background-color: transparentize($gray-color, .7);
                background: url(../../resources/icons/slick__icon_arrow.svg) center/contain no-repeat;
            }
        }
    }

}

.empty {
    min-height: 60vh;
    transform: translate(-50% -50%);
    @include templateFlex(center, center);
}

.filter {
    position: relative;
    max-width: 220px;
    width: 100%;
    &__header {
        @include templateFlex(flex-start, center);
        @include templateFont(20, 400, 1.2);
        column-gap: 8px;
        font-size: 20px;
        opacity: .9;
        &_value {
            @include templateFlex(center, center);
            column-gap: 10px;
            cursor: pointer;
            opacity: 1;
            @include templateTransition(opacity);
            &:hover {
                opacity: .9;
            }
        }
    }
    &__icon {
        @include templateFlex(center, center);
        &::before {
            content: '';
            width: 10px;
            height: 20px;
            background: url(../../resources/icons/filter__icon.svg);
        }
    }
    &__body {
        position: absolute;
        top: 40px;
        right: 0;
        padding: 10px;
        max-width: 200px;
        width: 100%;
        @include templateFlex(center, center);
        flex-direction: column;
        row-gap: 8px;
        border-radius: 12px;
        background-color: $light-color;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
        z-index: 11;
        li {
            width: 100%;
            padding: 2px 0;
            text-align: center;
            @include templateTransition(color);
            // border-bottom: 1px solid transparentize($gray-color, .7);
            cursor: pointer;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.overflow {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    top: -200px;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: 10;
}