.back-btn {
    max-width: 250px;
    @include templateFlex(flex-start, center);
    column-gap: 10px;
    margin-bottom: 20px;
    color: transparentize($gray-color, 0.1);
    @include templateTransition(color);

    &:hover {
        color: $gray-color;

        .back-btn__back {
            background-color: transparentize($gray-color, 0.4);
        }
    }

    &__back {
        width: 30px;
        height: 30px;
        @include templateFlex(center, center);
        border-radius: 50%;
        background-color: transparentize($gray-color, 0.7);
        @include templateTransition(background-color);

        &::before {
            content: '';
            width: 20px;
            height: 20px;
            display: block;
            background: url('../../resources/icons/slick__icon_arrow.svg')
                center/contain no-repeat;
        }
    }
}
