.cart {
    &__empty {
        max-width: 500px;
        width: 100%;
        min-height: 65vh;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include templateFont(20, 400, 1.6);
        text-transform: uppercase;
        color: $gray-color;
        text-align: center;

        p {
            max-width: 350px;
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }

    &__button {
        @extend .restaurants__button;
        padding: 21px 80px;
        @include templateFont(20, 700, 1.2);
        color: $light-color;
        text-transform: uppercase;
        background-color: $primary-color;
        border-radius: 10px;
        @include templateTransition(opacity);

        &:hover {
            opacity: 0.8;
        }
    }
}
