@import '../../style/variables.scss';

.header__row {
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    @media (max-width: 830px) {
        .header__row {
            &_user-panel {
                display: none;
            }
        }
    }
    @media (max-width: 600px) {
        gap: 30px 10px;
        padding-bottom: 30px;
    }
    &_logo {
        justify-self: flex-start;
        @include templateFont(32, 700, 1.2);
        text-transform: lowercase;
        color: $secondary-color;
        a {
            @include templateFlex(center, center);
            column-gap: 12px;
        }
        span {
            color: $primary-color;
        }
        @media (max-width: 1000px) {
            font-size: 24px;
            img {
                width: 25px;
            }
        }
    }
    &_location {
        @include templateFlex(center, center);
        @include templateFont(18, 700, 1);
        column-gap: 12px;
        color: $gray-color;
        .location__input {
            @include templateFlex(space-between, center);
            column-gap: 8px;
            &::before {
                content: '';
                display: block;
                width: 14px;
                height: 19px;
                background: url(../../resources/icons/map__icon.svg);
            }
        }
        @media (max-width: 1000px) {
            font-size: 16px;
        }
        @media (max-width: 900px) {
            font-size: 14px;
        }
    }
    &_search-panel {
        max-width: 450px;
        width: 100%;
        justify-self: center;
        position: relative;
        @include templateFlex(center, center);
        z-index: 2;
        input {
            padding: 0 10px 0 35px;
            width: 100%;
            height: 46px;
            flex-shrink: 2;
            @include templateFont(18, 700, 1);
            color: $gray-color;
            text-align: left;
            border-radius: 10px;
            background: transparentize($primary-color, 0.9)
                url(../../resources/icons/search-food__icon.svg) 7px/18px 18px
                no-repeat;
            @include templateTransition(box-shadow);
            &::placeholder {
                @include templateFont(18, 700, 1);
                color: $gray-color;
            }
            &:hover {
                box-shadow: $primary-shadow;
            }
            @media (max-width: 1000px) {
                font-size: 16px;
                &::placeholder {
                    font-size: 16px;
                }
            }
            @media (max-width: 600px) {
                font-size: 14px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
        button {
            height: 46px;
            min-width: 26px;
            @include templateFont(18, 700, 1);
            background-color: transparentize($primary-color, 0.9);
            border-radius: 0 10px 10px 0;
            @include templateTransition(box-shadow);
            background: url('../../resources/icons/remove__icon.svg') center /
                20px 20px no-repeat transparentize($primary-color, 0.9);
        }
        @media (max-width: 600px) {
            grid-column: 1/4;
            grid-row: 2/3;
            max-width: 100%;
        }
    }
    .user-panel {
        @include templateFlex(flex-end, center);
        column-gap: 20px;
        &__basket {
            max-width: 80px;
            width: 100%;
            min-height: 46px;
            @include templateFlex(center, center);
            gap: 10px;
            @include templateFont(18, 700, 1.2);
            color: $gray-color;
            border-radius: 8px;
            box-shadow: $primary-shadow;
            &::before {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                background: url(../../resources/icons/basket__icon.svg) center /
                    cover no-repeat;
            }
        }
        &__login {
            min-height: 46px;
            max-width: 200px;
            // min-width: 118px;
            width: 100%;
            padding: 5px 12px;
            @include templateFlex(center, center);
            column-gap: 10px;
            @include templateFont(18, 700, 1);
            text-align: center;
            color: $primary-color;
            box-shadow: $primary-shadow;
            &::before {
                content: '';
                display: block;
                width: 25px;
                height: 25px;
                background: url(../../resources/icons/user__icon.svg) center /
                    23px 23px no-repeat;
            }
        }
        button,
        input,
        a {
            min-height: 46px;
            padding: 5px 12px;
            border-radius: 8px;
            @include templateTransition(all);
            &:hover {
                background-color: transparentize($primary-color, 0.9);
            }
        }
        @media (max-width: 1240px) {
            column-gap: 20px;
        }
        @media (max-width: 1000px) {
            button,
            input {
                font-size: 16px;
            }
            input::placeholder {
                font-size: 16px;
            }
        }
        @media (max-width: 750px) {
            .user-panel__login {
                // min-width: 40px;
                max-width: 80px;
                justify-content: center;
                &::before {
                    width: 20px;
                    background-position: center;
                }
            }
            span {
                display: none;
            }
            column-gap: 10px;
            button,
            input {
                font-size: 14px;
            }
            input::placeholder {
                font-size: 14px;
            }
        }
        @media (max-width: 600px) {
            grid-column: 2/4;
            max-width: 100%;
        }
    }
}

.header__menu-button {
    display: none;
    width: 30px;
    height: 30px;
    button {
        @include templateFlex(center, center);
        img {
            width: 100%;
            height: 100%;
            @include templateTransition(opacity);
            &:hover {
                opacity: 0.9;
            }
        }
    }
    @media (max-width: 830px) {
        display: block;
    }
}

.header__mobile-menu {
    &_row {
        position: fixed;
        top: 0;
        left: 0;
        @include templateFlex(flex-start, center);
        flex-direction: column;
        row-gap: 10px;
        height: 100%;
        width: 100vw;
        padding: 20px 0;
        @include templateFont(18, 700, 1.4);
        color: $dark-color;
        text-transform: uppercase;
        background-color: $light-color;
        z-index: 111;
        button {
            position: absolute;
            top: 20px;
            right: 15px;
            width: 30px;
            height: 30px;
            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}
