@import 'variables';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap';

body {
    font:
        normal 18px/1.4 'Open Sans',
        sans-serif;
    color: $dark-color;
}

button {
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: $gray-color;
    border-radius: 8px;

    &-thumb {
        background-color: $primary-color;
        border-radius: 8px;
    }

    &-track {
        background-color: #fefaf1;
    }
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;

    &__fluid {
        @extend .container;
        max-width: 1250px;
    }
}

.primary-title {
    @include templateFont(43, 700, 1.2);
    color: #212121;
    text-align: center;
    margin-bottom: 80px;
    @media (width <= 830px) {
        font-size: 35px;
        margin-bottom: 40px;
    }
}

.main__footnote {
    display: inline-block;
    padding: 8px 16px;
    @include templateFont(22, 700, 1.2);
    color: $secondary-color;
    background-color: transparentize($secondary-color, 0.8);
    border-radius: 16px;
    @media (width <= 830px) {
        border-radius: 0;
        display: block;
        font-size: 16px;
        text-align: center;
    }

    &_open {
        @extend .main__footnote;
        color: #79b93c;
        background: #79b93c33;
    }
}

.primary__card {
    border-radius: 16px;
    max-width: 357px;
    overflow: hidden;

    &:hover {
        .primary__card_content::before {
            opacity: 1;
        }

        .primary__card_image {
            img {
                transform: scale(0.99);
            }
        }
    }
    @media (width <= 830px) {
        max-width: 250px;
    }

    &_content {
        position: relative;
        height: 301px;
        margin-bottom: 26px;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
            background-color: transparentize(#000, 0.6);
            opacity: 0;
            border-radius: 15px;
            z-index: 1;
            @include templateTransition(opacity);
        }
        @media (width <= 830px) {
            height: 200px;
            margin-bottom: 10px;
        }
    }

    &_image {
        max-width: 357px;
        height: 301px;
        overflow: hidden;
        border-radius: 0 0 16px 16px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            @include templateTransition(transform);
        }
        @media (width <= 830px) {
            height: 200px;
        }
    }
}

.primary__button {
    @include templateFont(18, 700, 1);
    color: $light-color;
    border-radius: 14px;
    background: linear-gradient(98deg, #ffba24 -8.95%, #ff9a0e 109.24%);
    box-shadow: $primary-shadow;
    cursor: pointer;
    @include templateTransition(opacity);

    &:hover {
        opacity: 0.8;
    }

    &:active {
        opacity: 0.9;
    }

    &:disabled {
        opacity: 0.7;
        cursor: default;
    }
}

.custom-arrow {
    &__prev_item,
    &__next_item {
        position: absolute;
        @include templateFlex(center, center);
        width: 76px;
        min-height: 76px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $primary-color;
        box-shadow:
            0 14px 32px 0 #ffb20e4a,
            0 5px 8px 0 #de97003d;
        @include templateTransition(all);

        &:hover {
            cursor: pointer;
            background-color: transparentize($primary-color, 0.2);
        }

        &::before {
            content: '';
            width: 56px;
            height: 56px;
            display: block;
            background: no-repeat
                url('../resources/icons/slick__icon_arrow.svg') center;
        }
    }

    &__next_item {
        &::before {
            transform: rotate(-180deg);
        }
    }
}

.restaurants__button {
    padding: 21px 48px;
    @include templateFlex(center, center);
    column-gap: 10px;
    margin: 0 auto;

    &::after {
        content: '';
        width: 9px;
        height: 14px;
        display: block;
        background: url('../resources/icons/restaurants__button_arrow-icon.svg');
    }
}

.icon {
    fill: #757575;
    @include templateTransition(fill);

    &:hover {
        fill: $secondary-color;
    }
}
