/* stylelint-disable at-rule-empty-line-before */
/* stylelint-disable scss/at-mixin-pattern */
$primary-color: #ffb30e;
$secondary-color: #f17228;
$light-color: #fff;
$dark-color: #424242;
$gray-color: #9e9e9e;
/* stylelint-disable-next-line scss/dollar-variable-colon-space-after */
$primary-shadow:
    0 20px 40px 0 #ffae004a,
    0 5px 10px 0 #ffae0042;
$secondary-shadow: 0 20px 32px rgb(0 0 0 / 10%);

@mixin templateFlex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin templateFont($size, $weight, $line-height) {
    font-size: $size + px;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin templateTransition($animate) {
    transition: $animate 0.3s ease;
}

@mixin templateObject() {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
