@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 18px/1.4 'Open Sans', sans-serif;
    color: $dark-color;
}

ul,
li,
dl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

p {
    margin: 0;
    padding: 0;
}

button, 
input {
    outline: none;
    background: none;
    border: none;
}

button {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.main__title {
    font-size: 43px;
    font-weight: 700;
    color: #212121;
    line-height: 1.12;
    text-align: center; 
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
