$primary-color: #FFB30E;
$secondary-color: #F17228;
$light-color: #FFF;
$dark-color: #424242;
$gray-color: #9E9E9E;

@mixin templateFlex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin templateFont($size, $weight, $line-height) {
    font-size: $size + px;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin templateTransition($animate) {
    transition: $animate .3s ease;
}