$primary-color: #FFB30E;
$secondary-color: #F17228;
$light-color: #FFF;
$dark-color: #424242;
$gray-color: #9E9E9E;
$primary-shadow: 0px 20px 40px 0px rgba(255, 174, 0, 0.29), 0px 5px 10px 0px rgba(255, 174, 0, 0.26);

@mixin templateFlex($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin templateFont($size, $weight, $line-height) {
    font-size: $size + px;
    font-weight: $weight;
    line-height: $line-height;
}

@mixin templateTransition($animate) {
    transition: $animate .3s ease;
}

.primary-title {
    @include templateFont(43, 700, 1.2);
    text-align: center;
}