@import '../../style/variables.scss';

.modal__auth {
    @include templateFlex(center, center);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    &_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: transparentize(#000, .3);
        z-index: 89;
    }
}

.form {
    padding: 40px 60px;
    max-width: 500px;
    min-height: 400px;
    width: 100%;
    @include templateFlex(center, flex-start);
    flex-direction: column;
    border-radius: 10px;
    background-color: $light-color;
    z-index: 111;
    h2 {
        margin-bottom: 60px;
        align-self: center;
        @include templateFont(24, 700, 1.2);
        color: $dark-color;
        text-align: center;
        text-transform: uppercase;
        span {
            color: $primary-color;
        }
    }
    button {
        margin-bottom: 30px;
    }
    &__footer {
        text-align: center;
        align-self: center;
        span {
            padding-left: 10px;
        }
        a {
            color: $primary-color;
        }
    }
}

.animate__color {
    @include templateTransition(all);
    filter: drop-shadow(0px 0px 7px $primary-color);
    svg {
        path {
            fill: #FFB30FB3
        }
    }   
}