@import '../../style/variables.scss';

.popular-items {
    padding: 80px 40px 0;
    h2 {
        margin-bottom: 88px;
    }
    .popular-item {
        max-width: 283px;
        display: flex !important;
        @include templateFlex(center, flex-start);
        flex-direction: column;
        row-gap: 16px;
        &:hover {
            .popular-item__image:before{
                opacity: 1;
            }
            .popular-item__image img {
                transform: scale(1.01);
            }
        }
        &__image {
            position: relative;
            max-width: 283px;
            height: 283px;
            border-radius: 16px;
            overflow: hidden;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: transparentize(#000, .5);
                opacity: 0;
                @include templateTransition(opacity);
                z-index: 111;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include templateTransition(transform)
            }
        }
        &__description {
            width: 100%;
            @include templateFlex(center, flex-start);
            flex-direction: column;
            row-gap: 8px;
            @include templateFont(22, 700, 1.2);
            h3 {
                @include templateFont(22, 700, 1.2);
            }
            &_location {
                @include templateFlex(flex-start, center);
                column-gap: 8px;
                @include templateFont(22, 400, 1.2);
                color: $primary-color;
                &::before {
                    content: '';
                    display: block;
                    width: 14px;
                    height: 22px;
                    background: no-repeat url(../../resources/icons/popular__items_location-icon.svg) center;
                }
            }

        }
        &__button {
            padding: 10px;
            width: 100%;
            min-height: 60px;
            @include templateFlex(center, center);
            @include templateFont(18, 700, 1);
            color: $light-color;
            background-color: $secondary-color;
            border-radius: 8px;
            // box-shadow: 0px 20px 40px 0px #fa63233d, 0px 5px 10px 0px #fd725c38;
            @include templateTransition(all);
            &:hover {
                letter-spacing: 2px;
                background-color: transparentize($secondary-color, .1);
            }
            &:active {
                background-color: transparentize($secondary-color, .2);
            }
        }
    }
}

.custom-arrow {
    &__prev_item,
    &__next_item {
        position: absolute;
        @include templateFlex(center, center);
        max-width: 76px;
        width: 100%;
        min-height: 76px;
        transform: translateY(-50%);
        border-radius: 50%;
        background-color: $primary-color;
        box-shadow: 0px 14px 32px 0px #ffb20e4a, 0px 5px 8px 0px #de97003d;
        @include templateTransition(all);
        &:hover {
            cursor: pointer;
            background-color: transparentize($primary-color, .2);
        }
        &:before {
            content: '';
            width: 56px;
            height: 56px;
            display: block;
            background: no-repeat url(../../resources/icons/slick__icon_arrow.svg) center;
        }
    }
    &__prev_item {
        top: 50%;
        left: -143px;
    }
    &__next_item {
        top: 50%;
        right: -143px;
        &:before {
            transform: rotate(-180deg);
        }
    }
}

.slick-active {
    display: flex !important;
    @include templateFlex(center, center)
}

// .slick-track {
//     display: flex;
//     justify-content: center;
//     gap: 16px;
// }
// .slick-track > div {
//     max-width: 283px !important;
// }
// .slick-track {
//     display: flex ;
//     justify-content: space-around;
// }
// .slick-active .slick-slide {
//     max-width: 283px;
//     background-color: #000;
// } 
