@import '../../style/variables.scss';

.banner {
    background: url(../../resources/images/banner__image.png) center / cover no-repeat;
    &__row {
        padding: 91px 0 75px;
        margin: 0 auto;
        max-width: 786px;
        h2 {
            margin-bottom: 62px;
            @include templateFont(57, 900, 1);
            color: $light-color;
            text-align: center;
        }
        button {
            @include templateFont(18, 900, 1);
            color: $light-color;
            border-radius: 8px;
            background: linear-gradient(93deg, #F17228 -5.63%, #F15E28 100.8%);
            box-shadow: $primary-shadow;
            @include templateTransition(opacity);
            &:hover {
                opacity: .8;
            }
        }
        @media (max-width: 870px) {
            padding: 40px 0 32px;
            h2 {
                margin-bottom: 31px;
                font-size: 40px;
            }
        }
        @media (max-width: 600px) {
            h2 {
                margin-bottom: 16px;
                line-height: 1.3;
                font-size: 30px;
            }
        }
    }
}